<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <p>
    projetos-form works!
  </p>
  <mat-form-field>
    <input matInput placeholder="Nome Projeto" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Data de Início" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Data de Conclusão" />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Colaborador Responsável"></mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Descrição" />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Equipe"></mat-select>
  </mat-form-field>
  <button type="submit" mat-button color="primary">Enviar</button>
</div>