<form #projForm="ngForm" name="formProj" (ngSubmit)="onSubmit(projForm)" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <p>
    projetos-form works!
  </p>
  <mat-form-field hintLabel="Min 5 caracteres">
    <mat-label for="name">Nome Completo</mat-label>
    <input matInput #input placeholder="Novo Projeto ForLogic" name="name" required ngModel minlength="5" LetrasInput="true"/>
    <mat-hint align="end">{{input.value?.length || 0}}</mat-hint>
  </mat-form-field>


  <mat-form-field>
    <input matInput [matDatepicker]="start" placeholder="Data Início" ngModel name="start" required>
    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
    <mat-datepicker #start disabled="false"></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <input matInput [matDatepicker]="finish" placeholder="Data Final" ngModel name="finish" >
    <mat-datepicker-toggle matSuffix [for]="finish"></mat-datepicker-toggle>
    <mat-datepicker #finish disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="boss">Líder do Projeto</mat-label>
    <mat-select placeholder="Lider" ngModel name="boss">
    <mat-option *ngFor="let lider of lista" required [value]="lider.email">{{ lider.nome }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label for="description">Descrição do Projeto:</mat-label>
    <textarea matInput placeholder="Lorem ipsum dolor sit amet..." ngModel name="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="team">Membros da Equipe</mat-label>
    <mat-select placeholder="Lider">
      <mat-option (click)="adicionaMembro(lider.nome)" #option *ngFor="let lider of lista" required>{{ lider.nome }}</mat-option>
     </mat-select> 
  </mat-form-field>

  <h4>Defina as cargas horárias:</h4>
  <mat-list>
    <mat-list-item *ngFor="let membro of membros">
      <input matInput type="text" placeholder="{{ membro.nome }}" name="ch">
      <button mat-mini-fab (click)="remove(membro)" color="primary"><mat-icon >clear</mat-icon></button>
    </mat-list-item>
  </mat-list>
  
  <button type="submit" [disabled]="!projForm.valid" mat-raised-button color="primary">Enviar</button>
</form>
