<form #colForm="ngForm" name="form" (ngSubmit)="onSubmit(colForm)"  fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <p>
    colaboradores-form works!
  </p>
  <mat-form-field>
    <input matInput required placeholder="Nome Completo" ngModel name="name" LetrasInput="true"/>
  </mat-form-field>

  <mat-form-field>
    <input type="email" matInput required placeholder="Email" ngModel email="true" name="email" EmailInput="true"/>
  </mat-form-field>

  <mat-form-field>
    <input type="tel" [textMask]="{mask: Phonemask}" matInput placeholder="Celular" ngModel name="phone"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput [textMask]="{mask: Datemask}" placeholder="Data de Nascimento" ngModel name="birth"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Carga Diária Horária" ngModel name="workload" NumerosInput="true"/>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Escolaridade" ngModel name="scholarity">
      <mat-option value="Fundamental">Fundamental</mat-option>
      <mat-option value="Medio">Médio</mat-option>
      <mat-option value="Superior">Superior</mat-option>
      <mat-option value="Especializacao">Especialização</mat-option>
      <mat-option value="Mestrado">Mestrado</mat-option>
      <mat-option value="Doutado">Doutorado</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" mat-button color="primary">Enviar</button>
</form>