<form #colForm="ngForm" (ngSubmit)="onSubmit(colForm)"  fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <p>
    colaboradores-form works!
  </p>
  <mat-form-field>
    <input matInput placeholder="Nome Completo" ngModel name="nome"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" ngModel name="email"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Telefone" ngModel name="telefone"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Data de Nascimento" ngModel name="nascimento"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Carga Horária" ngModel name="carga"/>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Escolaridade" ngModel name="escolaridade">
      <mat-option value="option">Fundamental</mat-option>
      <mat-option value="option">Médio</mat-option>
      <mat-option value="option">Superior</mat-option>
      <mat-option value="option">Especialização</mat-option>
      <mat-option value="option">Mestrado</mat-option>
      <mat-option value="option">Doutorado</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" mat-button color="primary">Enviar</button>
</form>