<div class="container">
  <p>
    colaboradores-list works!
  </p>
  <mat-form-field >
    <mat-label for="procurar">Localizar Colaborador</mat-label>
    <input matInput #nome (keyup)="localiza(nome.value)" type="text" placeholder="Nome Colaborador" name="procurar">
  </mat-form-field>
  <mat-card>
    <mat-card-title>Lista de Colaboradores</mat-card-title>
  </mat-card>
  <mat-nav-list>
    <mat-accordion fxLayout="column" fxLayoutAlign="space-between">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let colaborador of lista">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Nome: {{ colaborador.name }}
            </mat-panel-title>
            <mat-panel-description>
               Cadastro feito {{ atual().to(colaborador.cadastro) }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <p>Email: {{ colaborador.email }}</p>
            <p>Telefone: {{ colaborador.phone }}</p>
            <p>Data de Nascimento: {{ colaborador.birth }}</p>
            <p>Carga Horária: {{ colaborador.workload }}</p>
            <p>Escolaridade: {{ colaborador.scholarity }}</p>
            <mat-action-row fxLayout="row" fxLayoutAlign="space-evenly center">
              <button mat-mini-fab routerLink="/colaboradores/alterar">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" (click)="excluir(colaborador._id)">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-action-row>
          </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-nav-list>
</div>